<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="uk-height-1-1">
<head>
    <meta charset="UTF-8"/>
    <title>Account Activated</title>
    
   	<link rel="stylesheet" href="/uaa/scripts/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/uaa/scripts/css/font-awesome.min.css"/>
     <link rel="stylesheet" href="/uaa/scripts/css/app/helpaccount.css"/>
       <link rel="stylesheet" href="/uaa/scripts/css/globel.css"/>
       
       
      <script src="/uaa/scripts/js/jquery-3.2.0.min.js"></script>
    <script src="/uaa/scripts/js/bootstrap.min.js"></script>
   
     
    
</head>

<body >
 <div class="form-gap"></div>
<div class="container">
	<div class="row">
	
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-check fa-4x"></i></h3>
                  <h2 class="text-center">Account Activated</h2>
                  <div class="panel-body">
                      <p >Your account has been activated, please login. </p>
                  </div>
                </div>
              </div>
            </div>
            
        
          </div>
          
          
        
          
	</div>
</div>


</body>
</html>