<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Account Details</title>

   	<link rel="stylesheet" href="/uaa/scripts/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/uaa/scripts/css/font-awesome.min.css"/>
     <link rel="stylesheet" href="/uaa/scripts/css/app/homeaccount.css"/>
 
    <link rel="stylesheet" href="/uaa/scripts/css/globel.css"/>
    <script src="/uaa/scripts/js/jquery-3.2.0.min.js"></script>
    <script src="/uaa/scripts/js/bootstrap.min.js"></script>

  <script src="/uaa/scripts/js/angular.min.js"></script>
  <script src="/uaa/scripts/js/app/homeaccount.js"></script>


	<style type="text/css">
	
	.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
	
	</style>




</head>

<body>
<div ng-app="myProfile" ng-controller="myProfileCtrl"> 


<div class="container">
	<div class="row">
		<p>No redirect was supplied. If you have a particular application you would like to login to please go back the the login page of the application.</p>
	</div>
</div>


</body>
</html>
