<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="uk-height-1-1">
<head>
    <meta charset="UTF-8"/>
    <title>Reset Password</title>
    
   	<link rel="stylesheet" href="/uaa/scripts/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/uaa/scripts/css/font-awesome.min.css"/>
     <link rel="stylesheet" href="/uaa/scripts/css/app/resetpassword.css"/>
       <link rel="stylesheet" href="/uaa/scripts/css/globel.css"/>
      <script src="/uaa/scripts/js/jquery-3.2.0.min.js"></script>
    <script src="/uaa/scripts/js/bootstrap.min.js"></script>
        <script src="/uaa/scripts/js/fingerprint2.js"></script>
    <script type="text/javascript">
    	new Fingerprint2().get(function(result, components){
    	 $('.print').val(result);
    	});
    </script>
</head>
<body >
 <div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-unlock fa-4x"></i></h3>
                  <h2 class="text-center">Reset Password</h2>
                  <p>You can reset your password here.</p> 
                  <div class="panel-body">
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post" th:action="@{/user/resetpassword}">
                      <div class="form-group">
                          <input id="password1" name="password1" placeholder="Password" class="form-control form-password"  type="password" />
						  <input id="password2" name="password2" placeholder="Confirm Password" class="form-control form-password"  type="password" />
		
						  <input type="text" class="form-control print hidden"  name="print" />
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit" />
                      </div>
                 
                       <input type="hidden" class="hide"  name="accounttoken"  th:value="${accounttoken}"   /> 
                    </form>
                  </div>
                </div>
              </div>
            </div>
        		<div th:each="message : ${messages}">
					<p class=" text-center text-warning" th:text="${message}"></p>
				</div>
          </div>

	</div>
</div>


</body>
</html>