    body
			    {
			             background: url(https://static.pexels.com/photos/26273/pexels-photo-26273.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
			    }
      